/* FONT FACE */
@font-face {
  font-family: "PP Neue Machina";
  src: url("../fonts/PPNeueMachina-Ultrabold.woff2") format("woff2"),
    url("../fonts/PPNeueMachina-Ultrabold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Light.woff2") format("woff2"),
    url("../fonts/Poppins-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.woff2") format("woff2"),
    url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"),
    url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  background-color: #fff;
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1480px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}


/* BUTTON */
.button {
  display: inline-block;
  min-width: 170px;
  padding: 10px 40px;
  border: 1px solid #000;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 400;
  background-color: transparent;
  color: #000;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  cursor: pointer;
  white-space: nowrap;
  transition: background-color 0.4s ease,
    color 0.4s ease;
}

.button:hover {
  background-color: #000;
  color: #fff;
}


/* ARROW-BUTTON */
.arrow-button {
  display: inline-block;
  padding: 0;
  border: 0;
  border-radius: 8px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
  background-color: transparent;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.4s ease,
    color 0.4s ease;
}

.arrow-button__inner {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 8px;
  white-space: nowrap;
}

.arrow-button__text {
  flex-grow: 1;
}

.arrow-button--big .arrow-button__inner {
  padding: 13px 20px;
}

.arrow-button__icon {
  margin-left: 10px;
}

.arrow-button:hover {
  background-color: #000;
  color: #fff;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}


/* SITE-HEADER */
.site-header {
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 20px;
  font-weight: 400;
  background-color: #fff;
}

.site-header__container {
  display: flex;
  align-items: center;
  padding-left: 80px;
  padding-right: 80px;
}

.site-header__logo {
  flex-shrink: 0;
  margin-right: 160px;
  text-decoration: none;
}

.site-header__logo-img {
  display: block;
}

.site-header__sitenav {
  margin-right: 100px;
}

.site-header__toggler {
  display: none;
}


/* SITENAV */
.sitenav__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sitenav__item:not(:last-child) {
  margin-right: 40px;
}

.sitenav__link {
  color: #000;
  text-decoration: none;
  white-space: nowrap;
}

.sitenav__link:hover {
  opacity: 0.8;
}

.sitenav__link:active {
  opacity: 0.6;
}

.site-header__cta {
  margin-left: auto;
}


/* HERO */
.hero__container {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__content {
  max-width: 840px;
  padding-top: 192px;
  padding-bottom: 150px;
  margin-right: 30px;
}

.hero__heading {
  margin-top: 0;
  margin-bottom: 8px;
  font-family: "PP Neue Machina", "Poppins", "Arial", sans-serif;
  font-size: 76px;
  line-height: 90px;
}

.hero__circle {
  text-transform: uppercase;
}

.hero__text {
  max-width: 660px;
  margin-top: 0;
  margin-bottom: 80px;
  font-size: 39px;
}

.hero__img {
  position: absolute;
  z-index: 1;
  right: -30px;
  top: 0;
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}


/* RESPONSIVENESS */
@media only screen and (max-width: 1300px) {
  .site-header__container {
    padding-left: 40px;
    padding-right: 40px;
  }

  .site-header__logo,
  .site-header__sitenav {
    margin-right: 60px;
  }
}

@media only screen and (max-width: 1180px) {
  .site-header {
    font-size: 18px;
  }

  .sitenav__item:not(:last-child) {
    margin-right: 25px;
  }
}

@media only screen and (max-width: 1000px) {
  .arrow-button--big .arrow-button__inner {
    padding: 12px;
  }

  .site-header {
    position: relative;
    z-index: 99;
  }

  .site-header__container {
    align-items: stretch;
  }

  .site-header__sitenav {
    display: none;
  }

  .site-header__sitenav--open {
    position: absolute;
    left: 0;
    top: 100%;
    display: block;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    margin-right: 0;
    background-color: #fff;
  }

  .site-header__toggler {
    display: block;
    padding: 8px 16px;
    border: 1px solid #000;
    border-radius: 8px;
    margin-left: 30px;
    background-color: transparent;
    cursor: pointer;
  }

  .site-header__toggler-icon {
    display: block;
    min-width: 24px;
  }

  .sitenav__list {
    flex-direction: column;
  }

  .sitenav__item {
    text-align: right;
  }

  .sitenav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .site-header__cta {
    font-size: 14px;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .site-header__container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .site-header {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .site-header__logo {
    margin-right: auto;
  }

  .site-header__cta-arrow {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .site-header__cta {
    position: fixed;
    z-index: 10;
    left: 20px;
    bottom: 20px;
    right: 20px;
    background-color: #fff;
  }
}
